<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.EmployeeInfoMapper">

    <resultMap id="employeeInfoMapper" type="com.tencent.wxcloudrun.model.EmployeeInfoItem">
        <id property="id" column="id"/>
        <result property="empolyerName" column="empolyerName" javaType="java.lang.String" />
        <result property="pwd" column="pwd" javaType="java.lang.String" />
        <result property="emplyerDept" column="emplyerDept" javaType="java.lang.String" />
        <result property="empolyerArea" column="emplyerDept" javaType="java.lang.String" />


    </resultMap>

    <select id="employeeInfoCheck" resultMap="employeeInfoMapper" parameterType="java.lang.String">
        SELECT `id`, `empolyerName`, `pwd`, `emplyerDept`, `empolyerArea`
        FROM `empolyerInfo`
        WHERE `empolyerName` = #{empolyerName} AND `pwd` = #{pwd}
    </select>


    <select id="employeeInfoExistCheck" resultType="int" parameterType="java.lang.String">
        SELECT count(*) FROM empolyerInfo WHERE empolyerInfo.empolyerName = #{empolyerName}
    </select>

<!--    注册新用户-->
    <insert id="insertUser" parameterType="java.util.Map">
        INSERT INTO `empolyerInfo` (`empolyerName`, `pwd`, `emplyerDept`, `empolyerArea`)
        VALUES (#{params.empolyerName}, #{params.pwd}, #{params.emplyerDept}, #{params.empolyerArea});
    </insert>

<!--    修改用户基础信息-->
    <update id="modifyUserInfo" parameterType="java.util.Map">
        update empolyerInfo
        SET pwd = #{params.pwd}, empolyerArea = #{params.empolyerArea}, emplyerDept = #{params.emplyerDept}
        WHERE empolyerName = #{params.empolyerName}
    </update>

    <!-- 查询所有部门所属区域信息 -->
    <resultMap id="departmentIndexMapper" type="com.tencent.wxcloudrun.model.DepartmentIndex">
        <id property="id" column="id"/>
        <result property="indexName" column="indexName" javaType="java.lang.String" />
    </resultMap>

    <select id="getAllDepartmentIndexes" resultMap="departmentIndexMapper">
        SELECT * FROM departmenIndex
    </select>

    <!-- 查询所有部门所属区域信息 -->
    <resultMap id="departmentMapper" type="com.tencent.wxcloudrun.model.Department">
        <id property="id" column="id"/>
        <result property="department" column="department" javaType="java.lang.String" />
        <result property="departmentIndex" column="departmentIndex" javaType="java.lang.String" />
        <result property="power" column="power" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="departmentList" resultMap="departmentMapper" parameterType="java.lang.String">
        SELECT * FROM `department`
        WHERE `departmentIndex` = #{departmentIndex}
    </select>

</mapper>

