<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.RegInfoMapper">

    <resultMap id="regInfoMapper" type="com.tencent.wxcloudrun.model.RegInfoItem">
        <id property="id" column="id"/>
        <result property="company" column="company" javaType="java.lang.String" />
        <result property="visitorName" column="visitorName" javaType="java.lang.String" />
        <result property="visitorFromAddr" column="visitorFromAddr" javaType="java.lang.String" />
        <result property="visitorTel" column="visitorTel" javaType="java.lang.String" />
        <result property="visitorCount" column="visitorCount" />
        <result property="visitorCarID" column="visitorCarID" javaType="java.lang.String" />
        <result property="visitorTime" column="visitorTime" javaType="java.time.LocalDateTime" />
        <result property="remark" column="remark" javaType="java.lang.String" />
        <result property="visitorToAddr" column="visitorToAddr" javaType="java.lang.String" />
        <result property="visitorToApartment" column="visitorToApartment" javaType="java.lang.String" />
        <result property="visitorsReceptionistName" column="visitorsReceptionistName" javaType="java.lang.String" />
        <result property="visitorsReceptionistTel" column="visitorsReceptionistTel" javaType="java.lang.String" />
    </resultMap>

<!--    更新登记信息表-->
    <update id="insertRegInfo" parameterType="com.tencent.wxcloudrun.model.RegInfoItem">
        INSERT INTO `RegInfo`(`company`, `visitorName`, `visitorFromAddr`, `visitorTel`, `visitorCount`, `visitorCarID`, `visitorTime`, `remark`, `visitorToAddr`, `visitorToApartment`, `visitorsReceptionistName`, `visitorsReceptionistTel`)
        VALUE(#{company}, #{visitorName}, #{visitorFromAddr}, #{visitorTel}, #{visitorCount}, #{visitorCarID}, #{visitorTime}, #{remark}, #{visitorToAddr}, #{visitorToApartment}, #{visitorsReceptionistName}, #{visitorsReceptionistTel})
    </update>
</mapper>

